.mainBody {
  border: 2px solid black;
  width: 50%;
  margin: auto;
  padding: 1em;
}

.header {
  border-bottom: 2px solid black;
  padding-bottom: 2em;
}

.footer {
  border-top: 2px solid black;
  padding-top: 2em;
}

.home-body {
  padding-top: 1em;
  padding-bottom: 1em;
}
